<h2 class="post-title">About </h2>

<h3>Hi, I'm Chris Woodward</h3>

<p>
	I am a 31 year-old web/software developer living in Spokane, Washington. I'm originally from Redding, California, and just separated from the Air Force in September 2014. While in the Air Force I lived in Little Rock, Arkansas, Corpus Christi and Del Rio, Texas, Lompoc, California and Colorado Springs, Colorado. My primary job was as a tactical airlift pilot flying C-130s (cargo aircraft). I served two tours of duty (Balad, Iraq and Ali Al Salem, Kuwait) and got to do a bunch of other cool stuff. It was definitely interesting, but I am glad to be back in the States doing what I love to do, which is computer programming. I graduated from the Air Force Academy in 2007 with a bachelors degree in Computer Science, and I plan on pursuing a master's degree in the future.     
</p>
<p>
	Previously, I worked as a web developer at Ambassadors Group Inc. (People to People Student Travel Programs) where I coded responsive websites and helped to company transition to a mobile-first, responsive web presence. I'm in the proces of relocating to San Diego, where I plan to continue my career and enjoy the sunny weather in southern CA. In my free time, when I'm not coding, I enjoy hiking and anything related to Photography, Music and Science/Math. 
</p>

<h2>LINKS</h2>
