
<div class="header-nav-link col-xs-4 col-sm-3 ">
	<h2 ng-click="broadcastNavClick('home')" class="active-nav-link">Home</h2>
</div>

<div class="header-nav-link col-xs-4 col-sm-3">
	<h2 class="nav-link-trans" ng-click="broadcastNavClick('blog')">Blog</h2>
</div>

<div class="header-nav-link hidden-xs col-xs-4 col-sm-3">
	<h2 class="nav-link-trans" ng-click="broadcastNavClick('projects')">Projects</h2>
</div>

<div class="header-nav-link col-xs-4 col-sm-3">
	<h2 class="nav-link-trans" ng-click="broadcastNavClick('about'); activateReaderWithUrl('data/posts/about.html')">About</h2>
</div>