<h2 class="post-title">About </h2>

<h3>Hi, I'm Chris Woodward</h3>

<p>
	I am a 31 year-old web/software developer living in Spokane, Washington. I'm originally from Redding, California, and just separated from the Air Force in September 2014. While in the Air Force I lived in Little Rock, Arkansas, Corpus Christi and Del Rio, Texas, Lompoc, California and Colorado Springs, Colorado. My primary job was as a tactical airlift pilot flying C-130s (cargo aircraft). I served two tours of duty (Balad, Iraq and Ali Al Salem, Kuwait) and got to do a bunch of other cool stuff. It was definitely interesting, but I am glad to be back in the States doing what I love to do, which is computer programming. I graduated from the Air Force Academy in 2007 with a bachelors degree in Computer Science, and I plan on pursuing a master's degree in the future.     
</p>
<p>
	Previously, I worked as a web developer at Ambassadors Group Inc. (People to People Student Travel Programs) where I coded responsive websites and helped to company transition to a mobile-first, responsive web presence. I'm in the proces of relocating to San Diego, where I plan to continue my career and enjoy the sunny weather in southern CA. In my free time, when I'm not coding, I enjoy hiking and anything related to Photography, Music and Science/Math. 
</p>

<h2>LINKS</h2>

<p>
	Need a Web/AngularJS developer and are located in the greater San Diego area? Please take a look at my
	<a href="assets/files/ResumeWoodwardC.pdf"><h3 class="about-link">Resume</h3></a>	
	<h3 class="about-link">&</h3>
	<a class="hover-hand" ng-click="broadcastNavClick('portfolio')"><h3 class="about-link">Portfolio</h3></a>
</p>

<p>
	I have been a photography enthusiast off-and-on since high school. Check out the <a ng-click="broadcastNavClick('photography')" href=""><h3 class="about-link">Photography Section</h3></a>

<!-- 
<object data="myfile.pdf" type="application/pdf" width="100%" height="100%">
  <p>Alternative text - include a link <a href="assets/files">to the PDF!</a></p>
</object>
 -->
</p>

<p>
	I also recently began to learn about composing and recording electronic music, check out my <a href="https://soundcloud.com/woodypowr"><h3 class="about-link">Soundcloud Page</h3></a>

</p>

<hr class="end-break">